[Unit]
Description=policyd-whois

[Service]
ExecStart=/usr/bin/python3 /opt/policyd-whois/policyd-whois start
ExecStop=/usr/bin/killall policyd-whois

[Install]
WantedBy=multi-user.target

